# Telegram API Configuration (Get from https://my.telegram.org)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=

# Storage Target ("me" for Saved Messages or Channel ID)
TELEGRAM_STORAGE_CHAT_ID=me

# Server Configuration
HOST=127.0.0.1
PORT=8000
