# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project storage & sessions
data/
temp/
*.session
*.session-journal

# Environment variables
.env
.env.local

# Vercel
.vercel/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

.vercel
